
 <div id="footer" >
    <div class="container">

    	<p>Copyright &copy; {{ site.title }} 2016-2018 - 
        <a href="https://github.com/meom-group"> <i class="icon fa-github"></i>  MEOM group</a> -
        <a href="{{site.baseurl}}//feed.xml"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> RSS </a>
        </p>

        <br>

        <div class="row">
 			<div class="col-sm-2">
				<h4> <a href="{{site.baseurl}}/about/"> About </a></h4>

				<h4> <a href="{{site.baseurl}}/people/"> People </a></h4>
			
				<h4> <a href="{{site.baseurl}}/projects"> Projects </a></h4>
				<h4> <a href="{{site.baseurl}}/code"> Code </a></h4>
				<h4> <a href="{{site.baseurl}}/data"> Data </a></h4>
			
			</div>

           <div class="col-sm-6">
            	
				<ul style="color:white">
					<br>
					<li> <a href="{{site.baseurl}}/scale">Scale interactions in the ocean </a> </li>
					<li> <a href="{{site.baseurl}}/interact">Interactions between ocean dynamics and other components of the climate system </a> </li>
					<li> <a href="{{site.baseurl}}/obs">Data assimilation, interpretation of observations, design of observation networks </a> </li>
					<li> <a href="{{site.baseurl}}/nemo">Contributing to developping NEMO ocean model</a> </li>
				</ul>
			</div>

			<div class="col-sm-2">
				<h4> <a href="{{site.baseurl}}/publications"> Publications </a></h4>
				<h4> <a href="{{site.baseurl}}/jobs"> Job Offers </a></h4>
				<h4> <a href="{{site.baseurl}}/blog"> News </a></h4>
				<h4> <a href="{{site.baseurl}}/contact"> Contact </a></h4>
				
			</div>
		</div>
    </div>
</div>

 
